<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ultrapower.viedo.dao.one.UserInfoDaoMapper">
	<!-- 获得用户总积分 -->
	<sql id="usercolumns">
	 		id, 
	 		Unicom_Id unicomId,
	 		 userName,
			userPassword, 
			userNick,
			 userType, 
			 userGender, 
			 userAge, 
			 userHeaderImage, 
			userMidHeaderImage, 
			userSmallHeaderImage, 
			userEmail, 
			userNationId, 
			userProvinceId, 
			userCompanyId, 
			userCompanyName,
			 userPositionId,
			  userPositionName,
			   userExperience, 
			   userLevel, 
			 userIntegral,
			  userMedalCount,
			   isNewUser,
			    status, 
			    userInfoDepartmentName,
			UserORG_CODE  userOrgCode, 
			userSource,
			 userPhoneNum,
			 UserPassWord_ultrapower userPassWordUltrapower, 
			  userSpecialType
	</sql>
	<!-- 用户信息 -->
	<sql id="userInfoMap">
				UserInfo.Id     id,
		Unicom_Id    unicomId ,
		UserName    userName ,
		UserPassword   userPassword  ,
		UserNick     userNick,
		UserType    userType,
		UserGender    userGender ,
		UserAge    userAge ,
		UserHeaderImage    userHeaderImage ,
		UserMidHeaderImage    userMidHeaderImage ,
		UserSmallHeaderImage     userSmallHeaderImage,
		UserEmail    userEmail ,
		UserNationId     userNationId,
		UserProvinceId    userProvinceId ,
		UserCityId 			userCityId,
		UserCompanyId    userCompanyId ,
		UserCompanyName    userCompanyName ,
		UserPositionId     userPositionId,
		UserPositionName    userPositionName ,
		UserExperience   userExperience  ,
		UserLevel     userLevel,
		UserIntegral     userIntegral,
		UserMedalCount    userMedalCount ,
		IsNewUser     isNewUser,
		UserInfo.Status     status,
		UserInfoDepartmentName     userInfoDepartmentName,
		UserORG_CODE     userOrgCode,
		UserSource     userSource,
		UserPhoneNum     userPhoneNum,
		UserPassWord_ultrapower    userPassWordUltrapower ,
		UserSpecialType userSpecialType,
		UserOrgInfo.org_name_display fullorgname,
		UserOrgInfo.DEPT_NAME  department
	</sql>
	<select id="getUserNameByUserId"  resultType="string" parameterType="string">
		<![CDATA[
			select UserName from UserInfo ui where ui.id = #{userid}
		]]>	
	</select>
	
	<select id="getUserInfoById"  resultType="com.ultrapower.viedo.vo.UserInfoCacheBean" parameterType="string">
		select 
        <include refid="userInfoMap"/>
		from UserInfo
		left JOIN UserOrgInfo on UserInfo.UserORG_CODE = UserOrgInfo.ORG_CODE
		where UserInfo.id = #{id} 
	</select>
	
	<select id="getUserByUserName"  resultType="com.ultrapower.viedo.bean.UserInfo" parameterType="string">
		 select  
			id, 
	 		Unicom_Id unicomId,
	 		 userName,
			userPassword, 
			userNick,
			 userType, 
			 userGender, 
			 userAge, 
			 userHeaderImage, 
			userMidHeaderImage, 
			userSmallHeaderImage, 
			userEmail, 
			userNationId, 
			userProvinceId, 
			userCompanyId, 
			userCompanyName,
			 userPositionId,
			  userPositionName,
			   userExperience, 
			   userLevel, 
			 userIntegral,
			  userMedalCount,
			   isNewUser,
			    status, 
			    userInfoDepartmentName,
			UserORG_CODE  userOrgCode, 
			userSource,
			 userPhoneNum,
			 UserPassWord_ultrapower userPassWordUltrapower, 
			  userSpecialType,
			  UserCityId userCityId
		 from UserInfo ui where ui.UserName = #{userName} and ui.Status = 1
	</select>
	
	<!-- <select id="getUserExperienceByUserId1"  resultType="cn.com.ultrapower.zcwg.helpyourself.core.vo.experience.ResponseGetUserExperience" 
	parameterType="cn.com.ultrapower.zcwg.helpyourself.core.vo.experience.RequestGetUserExperience">
			select userExperience from UserInfo ui where ui.id = #{userId}
	</select> -->
	
	<select id="getUserInfoByUserName"  resultType="int" parameterType="map">
		Select Count(Id) From UserInfo WHERE UserName = #{userName}
	</select>
	<select id="getParentOrganization" parameterType="int" resultType="com.ultrapower.viedo.vo.UserParentOrganization">
	  SELECT
	  u.Id userId,
	  p.id  userProvinceId,
	  p.`name` userProvinceName,
	  c.id userCityId,
	  c.`name` userCityName
	   FROM UserInfo u LEFT JOIN ProvinceInfo p ON u.UserProvinceId=p.id 
      LEFT JOIN ProvinceInfo c ON c.id=u.UserCityId
   <where>
    u.Id=#{id}
   </where>
	</select>
    <update id="updateUserInfo"  >
      UPDATE UserInfo SET UserProvinceId='140000' 
      WHERE id=5598978
	</update> 
	


	

</mapper>